$clr-bg:#fff3ea;
$clr-primary:#8ab2c4;
$clr-primary-hover:#598598;
$clr-text:#111;

$ff-body:'Poppins',system-ui,-apple-system,'Segoe UI',Roboto,Arial,sans-serif;
$ff-display:'Lexend Deca',sans-serif;

$bps:(md:768px, lg:992px);

$clr-price:#111;
$clr-offer:#c43131;
$clr-offer-bg:#fdecec;
